/* Define a cor de fundo e o estilo da página */
body {
    background-color: #ebd7c1;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* Container para os links */
.container {
    background: rgb(43,23,3);
    background: linear-gradient(195deg, rgba(43,23,3,1) 0%, rgba(43,23,3,0.8935223747702206) 35%, rgba(43,23,3,0.7814775568430498) 100%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(246, 132, 21);
    padding: 20px;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

/* Estilo da imagem do perfil */
.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* Estilo do nome */
h1 {
    margin: 0;
    margin-bottom: 15px;
    font-size: 24px;
    color: #ffffff;
}
h3 {
    margin: 0;
    font-size: 17px;
    color: #ffffff;
}
/* Estilo dos links */
.link-container {
    margin-top: 10px;
    padding: 20px;
}

.link {
    display:flow-root;
    background-color: #2B1703;
    color: #F68415;
    padding: 20px;
    width: 60%;
    margin: 12px auto;
    text-decoration: none;
    box-shadow: 0 2px 4px rgb(246, 132, 21);
    border-radius: 25px;
    transition: background-color 0.3s;
}

.link:hover {
    background-color: rgba(255, 166, 0, 0.027);
    transform: scale(0.9) rotate(0deg);
    width: 300px;
    height: 50px;
    border-radius: 50px;

}
